* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.top-bar {
  background-color: deeppink;
  padding: 10px 0;
}

.top-bar__social-links {
  display: flex;
  gap: 16px;
}

.top-bar__social-links > li {
  list-style: none;
}

.top-bar__social-links > li > a,
.col span {
  color: white;
}

/* top nav */
li {
  list-style: none;
}
.top-nav {
  padding: 20px 0;
}
.top-nav .row {
  display: flex;
  align-items: center;
}
.top-nav ul {
  display: flex;
  gap: 20px;
}

.top-nav i {
  background-color: deeppink;
  color: white;
  padding: 8px 6px;
  border-radius: 4px;
}
